body {
    background-color: #000;
}

.deleteLink {
    color: #ff0000;
}

.deleteLink:hover {
    color: rgb(255, 195, 195);
    text-decoration: none;
}

.updateLink {
    color: #ef9b0f;
}

.updateLink:hover {
    color: #ebcf9f;
    text-decoration: none;
}

.form-group {
    margin-top: 100px !important;
}

.form-group h1 {
    font-size: 2rem;
}

/* Table Scrollbar */
/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}