.App {
    text-align: center;
    background-color: #000;
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .container {
    position: absolute;
    top: 0;
    margin-top: 25px;
  }
  
  #video-button-container {
    width: 60%;
    margin: 0 auto;
  }
  
  #video-button {
    background: black;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    border: 0;
  }
  
  #video-button:focus {
    outline:none;
  }
  
  #video-controls {
    top: 0;
    left: 0;
    position: fixed;
  }
  
  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
  }
  
  .navbar-nav > li {
    display: inline-block;
    float:none;
  }
  
  .nav-link {
    top: 0;
    left: 0;
    position: fixed;
  }
  
  .center {
    margin: auto;
    width: 60%;
  }
  
  .category-image:hover {
    cursor: pointer;
  }
  
  #category-music {
    background-image: url(./assets/img/button-music.jpg);
  }
  
  #category-rap {
    background-image: url(./assets/img/button-rap.jpg);
  }
  
  #category-skate {
    background-image: url(./assets/img/button-skate.jpg);
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    #video-button {
      top: 140vw;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    #video-button {
      top: 95vw;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #video-button {
      top: 70vw;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #video-button {
      top: 70vw;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    #video-button {
      top: 70vw;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1366px) {
    #video-button {
      top: 60vw;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1450px) {
    #video-button {
      top: 55vw;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1600px) {
    #video-button {
      top: 50vw;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1900px) {
    #video-button {
      top: 45vw;
    }
  }