.App {
  text-align: center;
  background-color: #000;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  position: absolute;
  top: 25px;
}

/*
#video-button-container {
  width: 60%;
  margin: 0 auto;
}
*/

#video-button-container {
  margin-top: 20px;
}

#video-button {
  background: black;
  border: 0;
}

#video-button:focus {
  outline:none;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.nav-link {
  top: 0;
  left: 0;
  position: fixed;
}

.center {
  margin: auto;
  width: 60%;
}

.category-image:hover {
  cursor: pointer;
}

#category-music {
  background-image: url(./assets/img/button-music.jpg);
}

#category-rap {
  background-image: url(./assets/img/button-rap.jpg);
}

#category-skate {
  background-image: url(./assets/img/button-skate.jpg);
}