.App {
  text-align: center;
  background-color: #000;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-container {
  max-width: 1000px;
}

#logo-container {

}

#quarantine-logo {
  width: 100%;
  max-width: 480px;
}

#quarantine-logo:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

#views-container {
  position: relative;
  color: #fff;
}

#views-container p {
  float: left;
  font-size: 18px;
}

#views {
  margin-right: 10px;
}

#category-container {
  margin-top: 20px;
}

/*
#video-button-container {
  width: 60%;
  margin: 0 auto;
}
*/

#video-button-container {
  margin-top: 40px;
}

#video-button {
  background: black;
  border: 0;
}

#video-button:focus {
  outline:none;
}

/* .navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.nav-link {
  top: 0;
  left: 0;
  position: fixed;
} */

.center {
  margin: auto;
  width: 60%;
}

.category-image:hover {
  cursor: pointer;
}

#category-music {
  background-image: url(./assets/img/button-music.jpg);
}

#category-rap {
  background-image: url(./assets/img/button-rap.jpg);
}

#category-skate {
  background-image: url(./assets/img/button-skate.jpg);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1366px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1450px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {

}